<head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link href="./css/navbar.css" rel="stylesheet">
        <link href="./css/header.css" rel="stylesheet">
        <link href="./css/icons.css" rel="stylesheet">
        <link href="./css/services.css" rel="stylesheet">
        <link href="./css/carousel.css" rel="stylesheet">
        <link href="./css/filters.css" rel="stylesheet">
        <link href="./css/contact.css" rel="stylesheet">
    </head>